.container{
    margin:0px auto;
    padding: 0px;
    
}
.BlinkLine-area{background-color:#fafafa ; margin: 17px;}
.BlinkLine-area .inner-BlinkLine{overflow: hidden;}
.BlinkLine-area .Blink{color: rgb(244, 67, 62);font-weight: 500; font-family: "Roboto", sans-serif; text-align: center;}


